.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    height: 46px;
    padding-top: 17px;
    padding-bottom: 17px;
}
img{
    width: 200px;
    height: 32px;
    float: left;
    margin-right: 200px;
}
nav ul li{
    margin-right: 20px;
    margin-left: 20px;
    float: left;
}
a{
    text-decoration: unset;
    color: #2F281E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
a:hover{
    color: #FF9900;
}
button{
    float: right;
    margin-left: 30px;
}
.button_one{
    width: 110px;
    height: 46px;
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    color: #2F281E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.button_two{
    width: 110px;
    height: 46px;
    padding: 13px 25px;
    border-radius: 4px;
    background: #F90;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid white;
}
